* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

main {
  flex: 1;
  text-align: center;
}

/*ヘッダー*/
.back {
  background-color: #1c1c1c;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
}
.kydolex_header_log {
  width: 100%;
  height: 50px;
  object-fit: cover;
}
.center0 {
  width: 15%;
  height: 50px;
}
.center {
  text-align: center;
  font: normal normal normal 20px/31px Hiragino Mincho ProN;
  height: 55px;
  padding: 0px 8px;
  color: #ffffff;
}
.center:hover {
  color: #ffffff;
}
.under {
  font: normal normal normal 13px/20px Hiragino Mincho ProN;
  top: -10px;
  position: relative;
  color: #ffffff;
}

/*Homeタイトルー*/
.Home_main {
  width: 100%;
  text-align: center;
  z-index: 1;
}

.kydolex_title {
  position: relative;
  width: 100%;
  height: 750px;
  object-fit: cover;
  text-align: center;
  opacity: 1;
  z-index: 1;
}

/*about*/
.about {
  text-align: center;
  position: relative;
  background-color: #f8f8f8;
  margin: 3% 0%;
  padding: 0% 0% 5% 0%;
  height: 100%;
}
.about_title {
  position: relative;
  font: normal normal bold 45px/100% Hiragino Mincho ProN;
  height: 100%;
  padding: 5% 0% 1% 0%;
  z-index: 2;
}
.about_title_sub {
  position: relative;
  font: normal normal bold 20px/100% Hiragino Mincho ProN;
  height: 100%;
}
.about_main_body {
  width: 80%;
  position: relative;
  margin: 2% 10% 0% 10%;
}
.about_box {
  display: inline-block;
  position: relative;
  margin-bottom: 3%;
}
.about_img {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.about_img_img {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top: solid 10px #000000;
  border-bottom: solid 10px #000000;
  z-index: 1;
}
.about_img::after {
  position: relative;
  display: inline-block;
  content: "";
  background: linear-gradient(-135deg, #000000ad, #000000ad);
  width: 100%;
  top: -100%;
  height: 100%;
  z-index: 1;
}

.about_text {
  position: relative;
}

.about_title_text {
  position: relative;
  font: normal normal bold 25px/50px Hiragino Mincho ProN;
  text-align: left;
  padding: 3% 5% 0% 5%;
  color: #ffffff;
  z-index: 2;
}
.about_titlesub {
  position: relative;
  font: normal normal bold 15px/15px Hiragino Mincho ProN;
  text-align: left;
  color: #ffffff;
  padding: 0% 5%;
  z-index: 2;
}
.about_text_text {
  display: inline-block;
  color: #ffffff;
  text-align: left;
  width: 60%;
  height: 100px;
  padding: 0% 5% 0% 10%;
  font: normal normal normal 15px/25px Hiragino Mincho ProN;
  position: relative;
  z-index: 2;
}
.about_text_text_in {
  display: block;
  font: normal normal normal 15px/25px Hiragino Mincho ProN;
  z-index: 2;
}
.about_Request {
  position: relative;
  font: normal normal bold 13px/20px Hiragino Mincho ProN;
  padding: 1% 2%;
  color: #ffffff;
  border: solid 1px #ffffff;
  width: 15%;
  text-align: center;
  float: left;
  left: 4%;
  margin: 3% 1%;
  z-index: 2;
  transition: 1s;
}
.about_Request:hover {
  background-color: #5900fd80;
  color: #ffffff;
}

/*Gallery*/
.Gallery {
  text-align: center;
  position: relative;
  margin: 100px 0px;
}
.Gallery_title {
  position: relative;
  font: normal normal bold 45px/130px Hiragino Mincho ProN;
  height: 100px;
}
.Gallery_title_sub {
  position: relative;
  font: normal normal bold 20px/100% Hiragino Mincho ProN;
  height: 100%;
}
.Gallery_title_text {
  position: relative;
  font: normal normal bold 15px/180% Hiragino Mincho ProN;
  height: 100%;
  padding-top: 2%;
  color: #585858;
}
.Gallery_main_body {
  position: relative;
  text-align: center;
  width: 80%;
  padding: 10px 0px;
  display: inline-block;
}
.gallery_back {
  position: relative;
  width: 320px;
  height: 130px;
  margin: 15px;
  display: inline-block;
  border-top: solid 10px #000000;
  border-bottom: solid 10px #000000;
}

.gallery_img {
  position: absolute;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  width: 320px;
}

.gallery_img:after {
  position: relative;
  display: inline-block;
  content: "";
  background-color: #00000075;
  width: 100%;
  top: -100%;
  height: 100%;
  z-index: 1;
}
.gallery_img_img {
  position: relative;
  display: inline-block;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  width: 320px;
}
.gallery_title {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: 1s;
}
.gallery_title:hover {
  background-color: rgba(255, 0, 106, 0.712);
}
.gallery_text {
  position: relative;
  display: inline-block;
  width: 100%;
  font: normal normal bold 25px/100% Hiragino Mincho ProN;
  color: #ffffff;
  padding: 10% 0% 0% 0%;
  z-index: 2;
}
.gallery_text_sub {
  position: relative;
  display: inline-block;
  width: 100%;
  font: normal normal bold 18px/100% Hiragino Mincho ProN;
  color: #ffffff;
  padding: 2% 0%;
  z-index: 2;
}

/*<!--Link-->*/
.Link {
  text-align: center;
  padding: 3% 0%;
  background-color: #ffffff;
}
.link_title {
  position: relative;
  font: normal normal bold 45px/100% Hiragino Mincho ProN;
  padding-bottom: 1%;
}
.link_main_body {
  display: inline-block;
  position: relative;
  width: 90%;
  padding-top: 2%;
}
.link_body {
  position: relative;
  display: inline-block;
  width: 20%;
  padding: 3%;
  height: 100%;
  transition: 1s;
}
.link_body:hover {
  background-color: rgba(32, 0, 107, 0.349);
}
.linl_icon {
  position: relative;
  width: 100%;
  z-index: 2;
}
.link_img {
  position: relative;
  border-radius: 50%;
  width: 40%;
}

.link_text {
  position: relative;
  display: inline-block;
  width: 100%;
  z-index: 1;
}
.link_title_text {
  position: relative;
  font: normal normal bold 25px/20px Hiragino Mincho ProN;
  color: #000000;
  width: 100%;
  padding: 8%;
}
.link_name {
  position: relative;
  width: 100%;
  font: normal normal bold 15px/20px Hiragino Mincho ProN;
  color: #585858;
}
.link_id {
  position: relative;
  width: 100%;
  font: normal normal bold 15px/20px Hiragino Mincho ProN;
  color: #585858;
}
.link_text_text {
  width: 90%;
  display: inline-block;
}
.link_content {
  position: relative;
  text-align: center;
  display: inline-block;
  width: 100%;
  font: normal normal bold 15px/20px Hiragino Mincho ProN;
  color: #585858;
  padding: 3% 0%;
}

/*<!--contact-->*/
.contact {
  text-align: center;
  margin: 7% 0%;
  padding: 3% 0%;
  background-color: #f8f8f8;
}
.contact_title {
  position: relative;
  font: normal normal bold 45px/100% Hiragino Mincho ProN;
  padding: 0% 0% 1% 0%;
}
.contact_main_body {
  position: relative;
  text-align: center;
  display: inline-block;
  width: 90%;
  height: 450px;
}
.contact_box {
  display: inline-block;
  text-align: center;
  width: 25%;
  height: 100%;
  background: linear-gradient(-135deg, #0000007e, #0000007e),
    url(../img/Adobe9.jpeg);
  background-size: cover;
  border-bottom: solid 13px #000000;
  border-top: solid 13px #000000;
  margin: 2% 3% 5% 3%;
  color: #ffffff;
}
.contact_box2 {
  display: inline-block;
  text-align: center;
  width: 25%;
  height: 100%;
  background: linear-gradient(-135deg, #0000007e, #0000007e),
    url(../img/Adobe5.jpeg);
  background-size: cover;
  border-bottom: solid 13px #000000;
  border-top: solid 13px #000000;
  margin: 0% 3% 5% 3%;
  color: #ffffff;
}
.contact_box3 {
  display: inline-block;
  text-align: center;
  width: 25%;
  height: 100%;
  background: linear-gradient(-135deg, #0000007e, #0000007e),
    url(../img/Adobe10.jpeg);
  background-size: cover;
  border-bottom: solid 13px #000000;
  border-top: solid 13px #000000;
  margin: 0% 3% 5% 3%;
  color: #ffffff;
}
.contact_title_in {
  position: relative;
  font: normal normal bold 30px/70px Hiragino Mincho ProN;
  padding: 8% 3% 0% 3%;
}
.contact_boxtext {
  height: 200px;
  padding: 10%;
  font: normal normal normal 18px/30px Hiragino Mincho ProN;
}
.contact_boxink {
  position: relative;
  text-align: center;
  display: inline-block;
  width: 100%;
  color: #ffffff;
}
.contact_boxink_b {
  position: relative;
  text-align: center;
  display: inline-block;
  width: 50%;
  color: #ffffff;
  border: solid 1px #ffffff;
  font: normal normal normal 15px/40px Hiragino Mincho ProN;
  padding: 4% 0%;
  transition: 0.5s;
}
.contact_boxink_b:hover {
  background-color: rgba(0, 255, 234, 0.623);
  color: #ffffff;
}

/*<!--footer-->*/
.footer_all {
  position: relative;
  display: inline-block;
  background-color: #000000;
  text-align: center;
  width: 100%;
  z-index: 2;
}
.foooter {
  position: relative;
  display: inline-block;
  width: 70%;
}
.footer_title {
  position: relative;
  display: inline-block;
  width: 30%;
  padding: 2% 0% 0% 0%;
  height: 200px;
  top: -10px;
  left: 20px;
}
.footer_img {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 50%;
  object-fit: cover;
}
.footer_title_sub {
  position: relative;
  display: inline-block;
  font: normal normal normal 20px/100% Hiragino Mincho ProN;
  color: #ffffff;
  width: 100%;
  height: 50%;
  top: 10px;
}
.footer_text_body {
  position: relative;
  display: inline-block;
  padding: 2% 0% 2% 0%;
  height: 100%;
}
.footer_text_text {
  position: relative;
  display: inline-block;
  font: normal normal normal 15px/100% Hiragino Mincho ProN;
  color: #ffffff;
  width: 20%;
  height: 100%;
  padding: 1%;
}

/*ヘッダー*/
.back2 {
  background-color: #ffffff;
  color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
}
.center2 {
  text-align: center;
  font: normal normal normal 20px/31px Hiragino Mincho ProN;
  height: 55px;
  color: #000000;
}
.under2 {
  font: normal normal normal 13px/20px Hiragino Mincho ProN;
  top: -10px;
  position: relative;
  color: #000000;
}

/*Blog*/

.Blog_title {
  position: relative;
  display: inline-block;
  height: 380px;
  width: 100%;
}
.Blog_title_body {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 300px;
  background: linear-gradient(-135deg, #000000be, #000000be),
    url(../img/Adobe5.jpeg);
  background-size: cover;
  top: 15%;
}
.Blog_title_title {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 20%;
  padding-top: 60px;
  text-align: center;
  font: normal normal normal 40px/100% Hiragino Mincho ProN;
  color: #ffffff;
}
.Blog_title_title_sub {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 20%;
  padding: 15px 0px 25px 0px;
  text-align: center;
  font: normal normal normal 20px/100% Hiragino Mincho ProN;
  color: #ffffff;
}
.Blog_title_text {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 20%;
  padding: 25px;
  text-align: center;
  font: normal normal normal 18px/160% Hiragino Mincho ProN;
  color: #ffffff;
}

.blog_all {
  position: relative;
  display: inline-block;
  width: 80%;
  margin-bottom: 2%;
}
.blog_box {
  position: relative;
  display: inline-block;
  width: 29%;
  margin: 2% 2%;
  height: 200px;
}
.blog_img {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 70%;
  transition: 1s;
}
.blog_img_img {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog_img::after {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  transition: 1s;
}
.blog_img:hover::after {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  padding-top: 17%;
  content: "ブログを読む";
  color: #ffffff;
  font: normal normal normal 18px/160% Hiragino Mincho ProN;
  background-color: rgba(0, 47, 255, 0.856);
  width: 100%;
  height: 100%;
}
.blog_text {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 30%;
  background-color: #292929;
}
.blog_title_text {
  position: relative;
  display: inline-block;
  width: 80%;
  padding: 2% 0% 1% 0%;
  text-align: center;
  font: normal normal bold 20px/100% Hiragino Mincho ProN;
  color: #ffffff;
}
.blog_titlesub {
  position: relative;
  display: inline-block;
  width: 80%;
  text-align: center;
  font: normal normal normal 15px/100% Hiragino Mincho ProN;
  color: #ffffff;
}

/*<!--about Kydolex-->*/
.about_back_img {
  position: fixed;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.about_back_img_img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about_back_img::after {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  content: "";
  background-color: rgb(0 0 0 / 80%);
  width: 100%;
  height: 100%;
}
.about_title_pg {
  position: relative;
  display: inline-block;
  height: 350px;
  width: 100%;
}
.about_title_body {
  position: relative;
  display: inline-block;
  width: 70%;
  height: 200px;
  background-color: #ffffff7a;
  background-size: cover;
  top: 25%;
}
.about_title_body:hover {
  background-color: #ffffffd0;
}
.about_title_title {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 20%;
  padding-top: 60px;
  text-align: center;
  font: normal normal bold 40px/100% Hiragino Mincho ProN;
  color: #000000;
}
.about_title_title_sub {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 25%;
  padding: 15px 0px 25px 0px;
  text-align: center;
  font: normal normal normal 20px/100% Hiragino Mincho ProN;
  color: #000000;
}
.about_title_bt {
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
}
.about_bt {
  position: relative;
  display: inline-block;
  font: normal normal normal 20px/100% Hiragino Mincho ProN;
  width: 20%;
  padding: 2% 3%;
  margin: 0% 2%;
  color: #000000;
  border: solid 1px #000000;
}
.about_bt_text {
  position: relative;
  display: inline-block;
  margin: 0%;
  z-index: 1;
}
.about_bt:hover {
  background-image: url(../img/Adobe6.jpeg);
  background-size: cover;
  color: #ffffff;
}
.about_bt:hover::after {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  content: "";
  background-color: #0004ff86;
  width: 100%;
  height: 100%;
}

.about_kydolex_about {
  position: relative;
  display: inline-block;
  width: 70%;
  height: 100%;
  background-color: #ffffff7a;
  margin-bottom: 3%;
}
.about_kydolex_about:hover {
  background-color: #ffffffd0;
}
.about_kydolex_about_body {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.about_kydolex_about_title {
  position: relative;
  display: inline-block;
  text-align: left;
  font: normal normal bold 20px/100% Hiragino Mincho ProN;
  color: #000000;
  padding: 3% 10% 2% 10%;
  width: 100%;
}
.about_kydolex_about_text {
  position: relative;
  display: inline-block;
  text-align: left;
  font: normal normal normal 15px/250% Hiragino Mincho ProN;
  color: #000000;
  padding: 0% 10% 2% 10%;
  width: 100%;
}

.about_kydolex_kawai {
  position: relative;
  display: inline-block;
  width: 70%;
  height: 100%;
  background-color: #ffffff7a;
  margin-bottom: 3%;
}
.about_kydolex_kawai:hover {
  background-color: #ffffffd0;
}
.about_kydolex_kawai_title {
  position: relative;
  display: inline-block;
  text-align: left;
  font: normal normal bold 20px/100% Hiragino Mincho ProN;
  padding: 3% 0% 3% 0%;
  width: 100%;
  color: #000000;
}
.about_kydolex_kawai_body1 {
  position: relative;
  display: inline-block;
  text-align: left;
  width: 20%;
  padding: 2% 2%;
  height: 100%;
}
.about_kydolex_kawai_body2 {
  position: relative;
  display: inline-block;
  text-align: left;
  width: 60%;
  height: 100%;
  padding: 2% 2% 2% 0%;
}
.about_kydolex_kawai_name {
  position: relative;
  display: inline-block;
  text-align: center;
  font: normal normal normal 20px/150% Hiragino Mincho ProN;
  color: #000000;
  padding-top: 10%;
  width: 100%;
  height: 100%;
}
.about_kydolex_kawai_name_sub {
  position: relative;
  display: inline-block;
  text-align: center;
  font: normal normal normal 15px/150% Hiragino Mincho ProN;
  color: #000000;
  padding: 1%;
  width: 100%;
  height: 100%;
}
.about_kydolex_kawai_img {
  position: relative;
  display: inline-block;
  color: #000000;
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.about_kydolex_kawai_text {
  position: relative;
  display: inline-block;
  font: normal normal normal 15px/250% Hiragino Mincho ProN;
  color: #000000;
  width: 100%;
  height: 100%;
}

.about_kydolex_content {
  position: relative;
  display: inline-block;
  width: 70%;
  height: 100%;
  background-color: #ffffff7a;
  margin-bottom: 3%;
}
.about_kydolex_content:hover {
  background-color: #ffffffd0;
}

/*<!-service-->*/
.Content_title_main_box {
  position: relative;
  display: inline-block;
  height: 680px;
  width: 100%;
}
.service_title_body {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  background: linear-gradient(-135deg, #000000be, #000000be),
    url(../img/Adobe7.jpeg);
  background-size: cover;
}
.Content_title_title {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 20%;
  padding-top: 250px;
  text-align: center;
  font: normal normal normal 60px/100% Hiragino Mincho ProN;
  color: #ffffff;
}
.Content_title_title_sub {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 15%;
  padding: 15px 0px 25px 0px;
  text-align: center;
  font: normal normal normal 35px/100% Hiragino Mincho ProN;
  color: #ffffff;
}
.Content_title_text {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 20%;
  padding: 25px;
  text-align: center;
  font: normal normal normal 20px/160% Hiragino Mincho ProN;
  color: #ffffff;
}
.Content_all {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-top: 4%;
}
.Content_box {
  position: relative;
  display: inline-block;
  width: 80%;
  height: 100%;
  border-bottom: solid 18px #000000;
  border-top: solid 18px #000000;
  background-color: #212121;
  margin: 3% 0%;
}
.Content_middle {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0% 0% 5% 0%;
}
.Content_title {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 250px;
  margin: 0% 0% 3% 0%;
}
.Content_title_img {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.Content_title_img::after {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  content: "";
  background-color: #00000086;
  width: 100%;
  height: 100%;
}
.Content_title_img_in {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Content_title_box {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 200px;
  padding: 7% 1% 0% 1%;
}
.Content_title_main {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 50%;
  font: normal normal normal 40px/100% Hiragino Mincho ProN;
  color: #ffffff;
  padding: 0% 0% 1% 0%;
}
.Content_title_sub {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 50%;
  font: normal normal normal 20px/100% Hiragino Mincho ProN;
  color: #ffffff;
}
.Content_middle {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.Content_middle_title {
  position: relative;
  text-align: left;
  padding: 2% 7% 1% 7%;
  display: inline-block;
  width: 100%;
  height: 100%;
  font: normal normal bold 25px/250% Hiragino Mincho ProN;
  color: #ffffff;
}
.Content_middle_box {
  position: relative;
  display: inline-block;
  width: 90%;
  padding: 0% 0% 3% 0%;
}
.Content_middle_text {
  position: relative;
  display: inline-block;
  width: 70%;
  height: 100%;
  padding: 0% 3%;
  text-align: left;
  font: normal normal normal 15px/250% Hiragino Mincho ProN;
  color: #ffffff;
  vertical-align: top;
}
.Content_middle_img {
  position: relative;
  display: inline-block;
  width: 20%;
  vertical-align: top;
}
.Content_middle_img_in {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 180px;
  object-fit: cover;
}

/*<!--Rate-->*/
.rate_title_body {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 300px;
  background: linear-gradient(-135deg, #000000be, #000000be),
    url(../img/Adobe9.jpeg);
  background-position: 0% 98%;
  background-size: cover;
  top: 15%;
}
.Rate_body {
  width: 90%;
  position: relative;
  display: inline-block;
  background: linear-gradient(-135deg, #000000be, #000000be),
    url(../img/Adobe1.jpeg);
  background-size: cover;
  border-top: solid 15px #000000;
  border-bottom: solid 15px #000000;
  margin: 4% 0%;
}
.Rate_body2 {
  width: 90%;
  position: relative;
  display: inline-block;
  background: linear-gradient(-135deg, #000000be, #000000be),
    url(../img/Adobe2.jpeg);
  background-size: cover;
  border-top: solid 15px #000000;
  border-bottom: solid 15px #000000;
  margin: 4% 0%;
}
.Rate_body3 {
  width: 90%;
  position: relative;
  display: inline-block;
  background: linear-gradient(-135deg, #000000be, #000000be),
    url(../img/Adobe3.jpeg);
  background-size: cover;
  border-top: solid 15px #000000;
  border-bottom: solid 15px #000000;
  margin: 4% 0%;
}
.Rate_title {
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: left;
  padding: 7% 5%;
  font: normal normal bold 35px/100% Hiragino Mincho ProN;
  color: #ffffff;
}
.Rate_text_box {
  position: relative;
  display: inline-block;
  width: 50%;
  vertical-align: top;
}
.Rate_text {
  position: relative;
  display: inline-block;
  width: 80%;
  text-align: left;
  padding: 2% 0% 4% 0%;
  font: normal normal normal 16px/180% Hiragino Mincho ProN;
  color: #ffffff;
}
.Rate_btm {
  position: relative;
  display: inline-block;
  width: 30%;
  padding: 2% 5%;
  margin: 2% 5%;
  font: normal normal normal 15px/100% Hiragino Mincho ProN;
  color: #ffffff;
  border: solid 1px #ffffff;
}
.Rate_rate_box {
  position: relative;
  display: inline-block;
  width: 45%;
  vertical-align: top;
}
.Rate_rate_box_in {
  position: relative;
  display: inline-block;
  height: 250px;
  width: 40%;
  padding: 3%;
  margin: 3%;
  background-color: #ffffffbf;
  vertical-align: top;
}
.Rate_rate_box_titile {
  position: relative;
  display: inline-block;
  width: 90%;
  text-align: center;
  padding: 10% 0%;
  font: normal normal normal 20px/100% Hiragino Mincho ProN;
  color: #464646;
}
.Rate_rate_box_titile_in {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 90%;
  padding: 10% 0%;
  font: normal normal bold 25px/100% Hiragino Mincho ProN;
  color: #000000;
}
.Rate_rate_box_titile_text {
  position: relative;
  display: inline-block;
  text-align: left;
  width: 90%;
  font: normal normal normal 15px/100% Hiragino Mincho ProN;
  color: #000000;
}
.Rate_rate_box_text {
  position: relative;
  display: inline-block;
  text-align: left;
  width: 90%;
  padding: 4% 0% 0% 0%;
  font: normal normal normal 10px/150% Hiragino Mincho ProN;
  color: #3a3a3a;
}
/*<!--designlist-->*/
.designlist_title_body {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 300px;
  background: linear-gradient(-135deg, #000000be, #000000be),
    url(../img/Adobe3.jpeg);
  background-size: cover;
  top: 18%;
  border-top: solid 15px #000000;
  border-bottom: solid 15px #000000;
}
.designlist_all {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 2%;
}
.designlist_box {
  position: relative;
  display: inline-block;
  width: 39%;
  margin: 2% 2%;
  height: 350px;
}
.designlist_img {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 70%;
  border-top: solid 15px #000000;
  border-bottom: solid 15px #000000;
  transition: 1s;
}
.designlist_img_img {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.designlist_text {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 20%;
  height: 30%;
  background-color: #f3f3f3;
}
.designlist_title_text {
  position: relative;
  display: inline-block;
  width: 80%;
  padding: 2% 0% 1% 0%;
  text-align: center;
  font: normal normal bold 30px/100% Hiragino Mincho ProN;
  color: #000000;
}
.designlist_name {
  position: relative;
  display: inline-block;
  width: 80%;
  text-align: center;
  font: normal normal normal 15px/100% Hiragino Mincho ProN;
  color: #000000;
}
.designlist_titlesub {
  position: relative;
  display: inline-block;
  width: 80%;
  text-align: center;
  font: normal normal normal 15px/100% Hiragino Mincho ProN;
  color: #000000;
}
/*<!--Content-->*/
.Content_title_body {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 300px;
  background: linear-gradient(-135deg, #000000be, #000000be),
    url(../img/Adobe6.jpeg);
  background-size: cover;
  top: 15%;
}
.Content_form {
  position: relative;
  display: inline-block;
  width: 100%;
}
.Content_form_text {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 4% 0%;
  text-align: center;
  font: normal normal bold 35px/100% Hiragino Mincho ProN;
  color: #000000;
}
.Content_form_text_in {
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
  font: normal normal bold 15px/100% Hiragino Mincho ProN;
  color: #000000;
}
.Content_form_body {
  position: relative;
  display: inline-block;
  width: 20%;
  padding: 2%;
  text-align: center;
  margin: 0% 0% 3% 0%;
}
.Content_form_body:hover {
  background-color: rgba(255, 0, 170, 0.322);
}
.Content_form_img {
  position: relative;
  display: inline-block;
  width: 80%;
}
.Content_form_img {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 0% 10%;
  text-align: center;
  object-fit: cover;
}
.Content_form_mailadd {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 2% 0% 4% 0%;
  text-align: center;
  font: normal normal bold 20px/100% Hiragino Mincho ProN;
  color: #000000;
}
.Content_form_mailadd:hover {
  color: #000000;
}

.None_text {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 10% 0% 10% 0%;
  text-align: center;
  font: normal normal bold 40px/100% Hiragino Mincho ProN;
  color: #000000;
}

/*<!--log-->*/
.card-profile {
  width: 700px;
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.1);
}

.button {
  width: 150px;
}

.btn {
  font-size: 80%;
  border-radius: 5rem;
  font-weight: bold;
}

.profile_table {
  width: 100%;
  border: 1px solid #d1dbeb;
  border-radius: 8px;
  border-collapse: separate;
  overflow: hidden;
}

.profile_table .header {
  width: 200px;
  padding: 16px 24px;
  text-align: left;
  background: #f1f5fa;
}

.profile_table .data {
  padding: 16px 24px;
}
