* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

main {
  flex: 1;
  text-align: center;
}

/*ヘッダー*/
.header{
  background-color: #1f1f1f;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  width: 100%;
  height: 70px;
  padding: 9px 0%;
}
.header_left{
  position: absolute;
  display: inline-block;
  left: 20px;
  width: 150px;
}
.header_right{
  position: absolute;
  display: inline-block;
  right: 8px;
  width: 90%;
}
.kydolex_header_log {
  width: 100%;
  height: 50px;
  object-fit: cover;
}
.header_icon {
  width: 15%;
  height: 50px;
}
.header_list {
  text-align: center;
  font: normal normal normal 20px/31px Hiragino Mincho ProN;
  height: 55px;
  padding: 0% 3%;
  color: #ffffff;
  float: right;
}
.header_list:hover {
  color: #ffffff;
}
.under {
  font: normal normal normal 15px/20px Hiragino Mincho ProN;
  top: -10px;
  position: relative;
  color: #ffffff;
}
#menu{
  display: none;
}
@media(max-width: 900px) {
  .slide {
    position: relative;
    width: 100%;
    height: 420px;
    overflow: hidden;
  }
  
    }
@media(max-width: 600px) {
  .center {
    text-align: center;
    font: normal normal normal 15px/31px Hiragino Mincho ProN;
    height: 55px;
    padding: 0px 8px;
    color: #ffffff;
  }
  .under {
    font: normal normal normal 8px/20px Hiragino Mincho ProN;
    top: -10px;
    position: relative;
    color: #ffffff;
  }
  }
@media (max-width: 480px) {
  .header{
    display: none;
  }
  /****メニュー全体****/
  #menu{
    display:inline-block;
    /*配置*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 100;
  }
/****メニュー開閉ボタン****/
  #menu div {
    width: 100%;
    height: 30px;
    background: rgb(35 35 35);
    overflow: hidden;
    position: fixed;
  }
  #menu .menuopen{
    /*デザイン*/
    display: block;
    width: 20%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    pointer-events: auto;
}
  
  #menu .menuclose{
    /*配置*/
    display: none;
    width: 20%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    pointer-events: auto;
  }
  /****メニュー一覧****/
  #menu ul{
    /*デザイン*/
    background: rgb(60 60 60 / 95%);
    width: 80%;
    /*配置*/
    position: fixed;
    list-style: none;
    top: 30px;/*#menu divの高さ*/
    right: 0;
    display: none;
  }
  #menu li{
    /*配置*/
    pointer-events: auto;
  }
  /****メニューオープン時****/
  #menu:target .menuopen{
    /*配置*/
    display: none;
  }
  #menu:target .menuclose{
    /*配置*/
    display: block;
  }
  #menu:target ul{
    /*配置*/
    display: block;
  }
  .header_list {
    text-align: center;
    font: normal normal normal 20px/31px Hiragino Mincho ProN;
    height: 55px;
    width: 100%;
    padding: 0% 3%;
    color: #ffffff;
    border-bottom: 1px rgba(255,255,255,1) solid;
    display: inline-block;
}
.kydolex_header_log {
  width: 20%;
  position: absolute;
  height: 30px;
  left: 10px;
  object-fit: cover;
}
.header_icon_menu{
  height: 14px;
  width: 15px;
}

}




/*Homeタイトルー*/
.slide {
  position: relative;
  width: 100%;
  height: 620px;
  overflow: hidden;
}
.slide img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  animation :slideshow 24s linear infinite;
}
@keyframes slideshow {
  0%{
    opacity: 0;
  }
  10%{
    opacity: 1;
  }
  28%{
    opacity: 1
  }
  38%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
  }
  .slide img:nth-child(2){
    animation-delay: 8s;
  }
   
  .slide img:last-child{
    animation-delay: 16s;
  }
  @media(max-width: 900px) {
    .slide {
      position: relative;
      width: 100%;
      height: 420px;
      overflow: hidden;
    }
      }
  @media(max-width: 600px) {
  .slide {
    position: relative;
    width: 100%;
    height: 320px;
    overflow: hidden;
  }
    }
  @media (max-width: 480px) {
    .slide {
      position: relative;
      width: 100%;
      height: 220px;
      overflow: hidden;
    }
      }



/*item_program*/
.item_class{
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;
  padding:0% 5%;
  margin: 2% 0%;
}
.title_class{
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;
  margin: 3% 0% 0% 0%;;
}
.back_black{
  background-color: rgb(39, 39, 39);
}
.back_gray{
  background-color: rgb(245, 245, 245);
}
.back_white_2{
  background-color: rgb(236, 236, 236);
}
.background_gray{
  background-color: #1f1f1f;
}
@media(max-width: 480px) {
  .title_class {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: 7% 0% 0% 0%;
  } 
  .item_class {
      position: relative;
      display: inline-block;
      text-align: center;
      width: 100%;
      padding: 0% 5%;
      margin: 5% 0%;
  }
}
/*text_css*/
.middle_title{
  position: relative;
  display: inline-block;
  width: 100%;
  line-height: 1.5em;
  font: normal normal bold 45px/100% Hiragino Mincho ProN;
  z-index: 3;
}
.middle_title_sub{
  position: relative;
  display: inline-block;
  width: 100%;
  line-height: 1.5em;
  font: normal normal bold 20px/100% Hiragino Mincho ProN;
  padding: 1% 0% 0% 0%;
  z-index: 3;
}
.middle_title_sub_nomal{
  position: relative;
  display: inline-block;
  width: 100%;
  line-height: 1.5em;
  font: normal normal normal 17px/200% Hiragino Mincho ProN;
  padding: 1% 0px;
  z-index: 3;
}
.text_basic{
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 4% 10%;
  color: white;
  font: normal normal normal 15px/190% Hiragino Mincho ProN;
  z-index: 3;
}
.text_basic_bold{
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 4% 10%;
  line-height: 2.0em;
  color: white;
  font: normal normal bold 15px/250% Hiragino Mincho ProN;
  z-index: 3;
}
.text_white{
  position: relative;
  display: inline-block;
  color: #ffffff;
}

@media(max-width: 600px) {
  .middle_title {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 2% 0% 0% 0%;
    line-height: 1.5em;
    font: normal normal bold 30px/100% Hiragino Mincho ProN;
    z-index: 3;
  }
  .middle_title_sub {
    position: relative;
    display: inline-block;
    width: 100%;
    line-height: 1.5em;
    font: normal normal bold 14px/100% Hiragino Mincho ProN;
    padding: 0% 0% 2% 0%;
    z-index: 3;
  }
  .text_basic{
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 4% 10%;
    color: white;
    font: normal normal normal 12px/190% Hiragino Mincho ProN;
    z-index: 3;
  }
  .text_basic_bold{
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 4% 10%;
    line-height: 2.0em;
    color: white;
    font: normal normal bold 12px/250% Hiragino Mincho ProN;
    z-index: 3;
  }
  .middle_title_sub_nomal {
    position: relative;
    display: inline-block;
    width: 100%;
    line-height: 1.5em;
    font: normal normal normal 12px/100% Hiragino Mincho ProN;
    padding: 1% 0px;
    z-index: 3;
}
  }

/*buttom_css*/
.buttom_link{
  position: relative;
  display: inline-block;
  width: 200px;
  color: #ffffff;
  margin: 20px 0px;
  padding: 10px 0px;
  border: solid 0.5px #ffffff;
  z-index: 3;
}
.site_link_form{
  position: relative;
  display: inline-block;
  height: 200px;
  width: 230px;
  margin:1% 1% ;
}
.site_link{
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
  border-top: solid 10px #000000;
  border-bottom: solid 10px #000000;
  z-index: 1;
}
.site_link_title{
  position: absolute;
  font: normal normal bold 25px/100% Hiragino Mincho ProN;
  color: #ffffff;
  width: 100%;
  padding: 70px 0px 0px 0px;
  z-index: 3;
}
.site_link_title_sub{
  position: absolute;
  font: normal normal bold 18px/100% Hiragino Mincho ProN;
  color: #ffffff;
  padding: 110px 0px 0px 0px;
  width: 100%;
  z-index: 3;
}
.site_link_img{
  position: relative;
  display: inline-block;
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.site_link::after{
  position:absolute;/*固定配置*/
  top: 0; 
  left: 0;/*左上に固定*/
  width: 100%; height: 100%;/*画面全体を覆う*/
  content: "";
  background-color: #4141417e;
  z-index: 2;
}
.site_link_form_2{
  position: relative;
  display: inline-block;
  height: 150px;
  width: 330px;
  margin:1% 1% ;
}
.site_link_title_2{
  position: absolute;
  font: normal normal bold 25px/100% Hiragino Mincho ProN;
  color: #ffffff;
  width: 100%;
  padding: 40px 0px 0px 0px;
  z-index: 3;
}
.site_link_title_sub_2{
  position: absolute;
  font: normal normal bold 18px/100% Hiragino Mincho ProN;
  color: #ffffff;
  padding: 75px 0px 0px 0px;
  width: 100%;
  z-index: 3;
}
.contact_link_form{
  position: relative;
  display: inline-block;
  height: 250px;
  width: 430px;
  margin:1% 1% ;
}
.contact_text_basic{
  position: absolute;
  display: inline-block;
  font: normal normal normal 15px/100% Hiragino Mincho ProN;
  color: #ffffff;
  width: 100%;
  padding:160px 5%;
  z-index: 3;
}
@media (max-width: 480px) {
  .site_link_form{
    position: relative;
    display: inline-block;
    height: 80px;
    width: 100px;
    margin:1% 1% ;
  }
  .site_link_title {
    position: absolute;
    font: normal normal bold 14px/100% Hiragino Mincho ProN;
    color: #ffffff;
    width: 100%;
    padding: 22px 0px 0px 0px;
    z-index: 3;
  }
.site_link_title_sub {
  position: absolute;
  font: normal normal bold 12px/100% Hiragino Mincho ProN;
  color: #ffffff;
  padding: 40px 0px 0px 0px;
  width: 100%;
  z-index: 3;
  }
  .site_link {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
    border-top: solid 5px #000000;
    border-bottom: solid 5px #000000;
    z-index: 1;
  }
  .site_link_form_2 {
    position: relative;
    display: inline-block;
    height: 70px;
    width: 150px;
    margin: 1% 1%;
  }
  .site_link_title_2 {
    position: absolute;
    font: normal normal bold 15px/100% Hiragino Mincho ProN;
    color: #ffffff;
    width: 100%;
    padding: 15px 0px 0px 0px;
    z-index: 3;
  }
  .site_link_title_sub_2 {
    position: absolute;
    font: normal normal bold 11px/100% Hiragino Mincho ProN;
    color: #ffffff;
    padding: 33px 0px 0px 0px;
    width: 100%;
    z-index: 3;
  }
  .contact_link_form {
    position: relative;
    display: inline-block;
    height: 100px;
    width: 330px;
    margin: 1% 1%;
  }
  .contact_text_basic {
    position: absolute;
    display: inline-block;
    font: normal normal normal 12px/100% Hiragino Mincho ProN;
    color: #ffffff;
    width: 100%;
    padding: 60px 5% 0% 5%;
    z-index: 3;
}
}
    
/*hover*/
.hover_red_back:hover::after{
  background-color: #b10202ce;
  transition: 0.5s;
}
.hover_yellow_back:hover::after{
  background-color: #767e00d3;
  transition: 0.5s;
}
.hover_blue_back:hover::after{
  background-color: #020074b6;
  transition: 0.5s;
  color: #ffffff;
}
.hover_green_back:hover::after{
  background-color: #144b19cc;
  transition: 0.5s;
}
.hover_pink_back:hover::after{
  background-color: #a5007ccb;
  transition: 0.5s;
}
.hover_purple_back:hover::after{
  background-color: #56007ec5;
  transition: 0.5s;
}
.hover_light-blue_back:hover::after{
  background-color: #007e94d3;
  transition: 0.5s;
}
.hover_light-green_back:hover::after{
  background-color: #00814bd3;
  transition: 0.5s;
}
.hover_orange_back:hover::after{
  background-color: #a85100d0;
  transition: 0.5s;
}
.hover_black_back:hover::after{
  background-color: #000000d0;
  transition: 0.5s;
}
.simple_hover_red:hover{
  color: #ffffff;
  background-color: #3633ffc7;
}
.simple_hover_gray:hover{
  background-color: #808080d0;
  transition: 0.3s;
}
.whit_hover{
  color: #000000;
}
.whit_hover:hover{
  color: #ffffff;
  z-index: 3;
}
/*body*/
.rectangle_body{
  position: relative;
  display: inline-block;
  vertical-align:top;
  width: 270px;
  padding: 2% 2%;
  margin: 1% 1%;
  z-index: 1;
}
.rectangle_body::after{
  position:absolute;/*固定配置*/
  top: 0; 
  left: 0;/*左上に固定*/
  width: 100%; height: 100%;/*画面全体を覆う*/
  content: "";
}
.width_box_90{
  position: relative;
  display: inline-block;
  width: 80%;
  padding: 2% 0% 0% 0%;
  margin: 3% 0%;
  border-top: solid 10px #000000;
  border-bottom: solid 10px #000000;
}
.width_box_90::after{
  position:absolute;/*固定配置*/
  top: 0; 
  left: 0;/*左上に固定*/
  width: 100%; height: 100%;/*画面全体を覆う*/
  content: "";
  background-color: #000000bb;
}
.about_hover_body{
  position: relative;
  display: inline-block;
  padding-top:4% ;
}
.sub_page_title{
  position: relative;
  display: inline-block;
  padding-top: 100px; 
  width: 100%;
  height: 350px;
}
.sub_page_title::after{
  position:absolute;/*固定配置*/
  top: 0; 
  left: 0;/*左上に固定*/
  width: 100%; height: 100%;/*画面全体を覆う*/
  content: "";
  background-color: #000000bb;
}
@media (max-width: 480px) {
  .rectangle_body{
    position: relative;
    display: inline-block;
    vertical-align:top;
    width: 100px;
    padding: 2% 2%;
    margin: 1% 1%;
    z-index: 1;
  }
  .sub_page_title {
    position: relative;
    display: inline-block;
    padding-top: 30px;
    width: 100%;
    height: 180px;
}
    }
/*image*/
.square_img{
  position: relative;
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 0% 0% 7% 0%; 
  object-fit: cover;
  vertical-align:top;
}
.circle_img {
  position: relative;
  display: inline-block;
  border-radius: 100%;
  height: 55%;
  width: 55%;
  margin: 60px 0px;
  z-index: 3;
}
.back_img{
  position: absolute;
  left:0;
  top: 0;
  width: 100%;
  height:100%;
  object-fit: cover;
}
@media (max-width: 480px) {
  .square_img{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: 0% 0% 7% 0%; 
    object-fit: cover;
    vertical-align:top;
  }
  .circle_img {
    position: relative;
    display: inline-block;
    border-radius: 100%;
    height: 55%;
    width: 55%;
    margin: 20px 0px;
    z-index: 3;
}
    }
/*list*/

.tab-group{
  display: flex;
  justify-content: center;
}
.tab{
  flex-grow: 1;
  padding: 3px 4px 3px 4px;
  list-style:none;
  border:solid 1px #CCC;
  text-align:center;
  cursor:pointer;
}
.panel-group{
  border-top:none;
  background:#eee;
}
.panel{
  display:none;
}
.tab.is-active{
  background:rgb(180, 0, 111);
  color:#FFF;
  transition: all 0.2s ease-out;
}
.panel.is-show{
  position: relative;
  display:inline-block;
  width: 100%;
  padding: 2% 8%;
}



.list_box{
  position: relative;
  display: inline-block;
  width: 310px;
  margin: 3% 2%;
  background-color: #f1f1f1;
  vertical-align:top;
}
.list_img{
  position: relative;
  display: inline-block;
  width: 100%;
  height: 200px;
  object-fit: cover;
  z-index: 3;
}
.list_box_tex_box{
  position: relative;
  display: inline-block;
  width: 100%;
  height: 150px;
}
.list_box_title{
  position: relative;
  display: inline-block;
  width: 100%;
  color: #1f1f1f;
  font: normal normal bold 20px/100% Hiragino Mincho ProN;
  padding:8% 5% 3% 5%;
}
.list_box_text{
  position: relative;
  display: inline-block;
  width: 100%;
  color: #1f1f1f;
  font: normal normal normal 15px/150% Hiragino Mincho ProN;
  padding:0% 1% 0% 1%;
}
/*<!--footer-->*/
.footer_all {
  position: relative;
  display: inline-block;
  background-color: #000000;
  text-align: center;
  width: 100%;
  z-index: 2;
}
.foooter {
  position: relative;
  display: inline-block;
  width: 70%;
}
.footer_title {
  position: relative;
  display: inline-block;
  width: 30%;
  padding: 2% 0% 0% 0%;
  height: 200px;
  top: -10px;
  left: 20px;
}
.footer_img {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 50%;
  object-fit: cover;
}
.footer_title_sub {
  position: relative;
  display: inline-block;
  font: normal normal normal 20px/100% Hiragino Mincho ProN;
  color: #ffffff;
  width: 100%;
  height: 50%;
  top: 10px;
}
.footer_text_body {
  position: relative;
  display: inline-block;
  padding: 2% 0% 2% 0%;
  height: 100%;
}
.footer_text_text {
  position: relative;
  display: inline-block;
  font: normal normal normal 15px/100% Hiragino Mincho ProN;
  color: #ffffff;
  width: 20%;
  height: 100%;
  padding: 1%;
}

/*ヘッダー*/
.back2 {
  background-color: #ffffff;
  color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
}
.center2 {
  text-align: center;
  font: normal normal normal 20px/31px Hiragino Mincho ProN;
  height: 55px;
  color: #000000;
}
.under2 {
  font: normal normal normal 13px/20px Hiragino Mincho ProN;
  top: -10px;
  position: relative;
  color: #000000;
}

/*<!--about Kydolex-->*/
.about_back_img {
  position: fixed;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.about_back_img_img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about_back_img::after {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  content: "";
  background-color: rgb(0 0 0 / 80%);
  width: 100%;
  height: 100%;
}
.about_title_pg {
  position: relative;
  display: inline-block;
  height: 350px;
  width: 100%;
}
.about_title_body {
  position: relative;
  display: inline-block;
  width: 70%;
  height: 200px;
  background-color: #ffffff7a;
  background-size: cover;
  top: 25%;
}
.about_title_body:hover {
  background-color: #ffffffd0;
}
.about_title_title {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 20%;
  padding-top: 60px;
  text-align: center;
  font: normal normal bold 40px/100% Hiragino Mincho ProN;
  color: #000000;
}
.about_title_title_sub {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 25%;
  padding: 15px 0px 25px 0px;
  text-align: center;
  font: normal normal normal 20px/100% Hiragino Mincho ProN;
  color: #000000;
}
.about_title_bt {
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
}
.about_bt {
  position: relative;
  display: inline-block;
  font: normal normal normal 20px/100% Hiragino Mincho ProN;
  width: 20%;
  padding: 2% 3%;
  margin: 0% 2%;
  color: #000000;
  border: solid 1px #000000;
}
.about_bt_text {
  position: relative;
  display: inline-block;
  margin: 0%;
  z-index: 1;
}
.about_bt:hover {
  background-image: url(../img/Adobe6.jpeg);
  background-size: cover;
  color: #ffffff;
}
.about_bt:hover::after {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  content: "";
  background-color: #0004ff86;
  width: 100%;
  height: 100%;
}

.about_kydolex_about {
  position: relative;
  display: inline-block;
  width: 70%;
  height: 100%;
  background-color: #ffffff7a;
  margin-bottom: 3%;
}
.about_kydolex_about:hover {
  background-color: #ffffffd0;
}
.about_kydolex_about_body {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.about_kydolex_about_title {
  position: relative;
  display: inline-block;
  text-align: left;
  font: normal normal bold 20px/100% Hiragino Mincho ProN;
  color: #000000;
  padding: 3% 10% 2% 10%;
  width: 100%;
}
.about_kydolex_about_text {
  position: relative;
  display: inline-block;
  text-align: left;
  font: normal normal normal 15px/250% Hiragino Mincho ProN;
  color: #000000;
  padding: 0% 10% 2% 10%;
  width: 100%;
}

.about_kydolex_kawai {
  position: relative;
  display: inline-block;
  width: 70%;
  height: 100%;
  background-color: #ffffff7a;
  margin-bottom: 3%;
}
.about_kydolex_kawai:hover {
  background-color: #ffffffd0;
}
.about_kydolex_kawai_title {
  position: relative;
  display: inline-block;
  text-align: left;
  font: normal normal bold 20px/100% Hiragino Mincho ProN;
  padding: 3% 0% 3% 0%;
  width: 100%;
  color: #000000;
}
.about_kydolex_kawai_body1 {
  position: relative;
  display: inline-block;
  text-align: left;
  width: 20%;
  padding: 2% 2%;
  height: 100%;
}
.about_kydolex_kawai_body2 {
  position: relative;
  display: inline-block;
  text-align: left;
  width: 60%;
  height: 100%;
  padding: 2% 2% 2% 0%;
}
.about_kydolex_kawai_name {
  position: relative;
  display: inline-block;
  text-align: center;
  font: normal normal normal 20px/150% Hiragino Mincho ProN;
  color: #000000;
  padding-top: 10%;
  width: 100%;
  height: 100%;
}
.about_kydolex_kawai_name_sub {
  position: relative;
  display: inline-block;
  text-align: center;
  font: normal normal normal 15px/150% Hiragino Mincho ProN;
  color: #000000;
  padding: 1%;
  width: 100%;
  height: 100%;
}
.about_kydolex_kawai_img {
  position: relative;
  display: inline-block;
  color: #000000;
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.about_kydolex_kawai_text {
  position: relative;
  display: inline-block;
  font: normal normal normal 15px/250% Hiragino Mincho ProN;
  color: #000000;
  width: 100%;
  height: 100%;
}

.about_kydolex_content {
  position: relative;
  display: inline-block;
  width: 70%;
  height: 100%;
  background-color: #ffffff7a;
  margin-bottom: 3%;
}
.about_kydolex_content:hover {
  background-color: #ffffffd0;
}

/*<!-service-->*/

/*<!--designlist-->*/
.designlist_title_body {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 300px;
  background: linear-gradient(-135deg, #000000be, #000000be),
    url(../img/Adobe3.jpeg);
  background-size: cover;
  top: 18%;
  border-top: solid 15px #000000;
  border-bottom: solid 15px #000000;
}
.designlist_all {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 2%;
}
.designlist_box {
  position: relative;
  display: inline-block;
  width: 39%;
  margin: 2% 2%;
  height: 350px;
}
.designlist_img {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 70%;
  border-top: solid 15px #000000;
  border-bottom: solid 15px #000000;
  transition: 1s;
}
.designlist_img_img {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.designlist_text {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 20%;
  height: 30%;
  background-color: #f3f3f3;
}
.designlist_title_text {
  position: relative;
  display: inline-block;
  width: 80%;
  padding: 2% 0% 1% 0%;
  text-align: center;
  font: normal normal bold 30px/100% Hiragino Mincho ProN;
  color: #000000;
}
.designlist_name {
  position: relative;
  display: inline-block;
  width: 80%;
  text-align: center;
  font: normal normal normal 15px/100% Hiragino Mincho ProN;
  color: #000000;
}
.designlist_titlesub {
  position: relative;
  display: inline-block;
  width: 80%;
  text-align: center;
  font: normal normal normal 15px/100% Hiragino Mincho ProN;
  color: #000000;
}
/*<!--Content-->*/
.Content_title_body {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 300px;
  background: linear-gradient(-135deg, #000000be, #000000be),
    url(../img/Adobe6.jpeg);
  background-size: cover;
  top: 15%;
}

.Content_form_img {
  position: relative;
  display: inline-block;
  width: 80%;
}

.Content_form_mailadd {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 2% 0% 4% 0%;
  text-align: center;
  font: normal normal bold 20px/100% Hiragino Mincho ProN;
  color: #000000;
}


.None_text {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 10% 0% 10% 0%;
  text-align: center;
  font: normal normal bold 40px/100% Hiragino Mincho ProN;
  color: #000000;
}

/*<!--log-->*/
.card-profile {
  width: 700px;
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.1);
}

.button {
  width: 150px;
}

.btn {
  font-size: 80%;
  border-radius: 5rem;
  font-weight: bold;
}

.profile_table {
  width: 100%;
  border: 1px solid #d1dbeb;
  border-radius: 8px;
  border-collapse: separate;
  overflow: hidden;
}

.profile_table .header {
  width: 200px;
  padding: 16px 24px;
  text-align: left;
  background: #f1f5fa;
}

.profile_table .data {
  padding: 16px 24px;
}



@media screen and(max-width: 480px) {

  }
@media screen and(min-width: 1280px) {

}