{% load static %}
<!--静的-->
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Kydolex</title>
    <link rel="shortcut icon" href="{%static 'img/Kydolex.png'%}">
</head>

<body> 


    <main>
        <!--ヘッダー-->
        <div class="header">
            <div class="header_left">
                <a class="header_icon" href="/"><img class="kydolex_header_log" src="{%static 'img/kydolex_white.png'%}" alt=""></a>
            </div>
            <div class="header_right">
                <a class="header_list" href="{% url 'contact'%}">Contact<br><span class="under">お問い合わせ</span></a>
                <a class="header_list" href="{% url 'service'%}">Service<br><span class="under">事業内容</span</a>
                <a class="header_list" href="{% url 'about'%}">Kydolex<br><span class="under">Kydolexについて</span></a>
                <a class="header_list" href="{% url 'designlist'%}">Library<br><span class="under">作品一覧</span></a>
                <a class="header_list" href="/">Home<br><span class="under">ホーム</span></a>
            </div>
    </div> 
    
    <div id="menu">
        <div>
            <a class="header_icon" href="/"><img class="kydolex_header_log" src="{%static 'img/kydolex_white.png'%}" alt=""></a>
            <a href="#menu" class="menuopen"><img class="header_icon_menu" src="{%static 'img/header_line_3.png'%}" alt=""></a>
            <a href="#close" class="menuclose"><img class="header_icon_menu" src="{%static 'img/header_chanel.png'%}" alt=""></a>

            </div>
        <ul>
            <li><a class="header_list" href="/">Home<br><span class="under">ホーム</span></a></li>
            <li><a class="header_list" href="{% url 'designlist'%}">Library<br><span class="under">作品一覧</span></a></li>
            <li><a class="header_list" href="{% url 'about'%}">Kydolex<br><span class="under">Kydolexについて</span></a></li>
            <li><a class="header_list" href="{% url 'service'%}">Service<br><span class="under">事業内容</span></a></li>
            <li><a class="header_list" href="{% url 'contact'%}">Contact<br><span class="under">お問い合わせ</span></a></li>
        </ul>
    </div>

    <main>
        <div class="about_back_img">
            <img class="about_back_img_img" src="{%static 'img/Adobe6.jpeg'%}" alt="">
        </div>
            
            <div class="about_title_pg">
                <div class="about_title_body">
                    <div class="about_title_title">About Kydolex</div>
                    <div class="about_title_title_sub">Kydolex とは</div>
                </div>
            </div>

            <div id="gaiyo" class="about_kydolex_about">
                <div class="about_kydolex_about_body">
                    <div class="about_kydolex_about_title">概要</div>
                    <div class="about_kydolex_about_text">KydolexはWeb関係の受託、サービス提供を行う組織です。<br>
                        川合利明の個人事業として2021年3月に開業しました。<br>
                        Kydolexは『Make your life more exciting 』を理念として、お客様の人生をより刺激的にするようなサービスの提供をいたします。<br> </div>
                </div>
            </div>

            <div id="kawai" class="about_kydolex_kawai">
                <div class="about_kydolex_kawai_body2">
                    <div class="about_kydolex_kawai_title">代表</div>
                    <div class="about_kydolex_kawai_text">
                        KydolexのHPをご覧いただき有難うございます。Kydolex代表、
                        川合利明と申します。私は大学を1年休学して独学でプログラミングを身につけ
                        フリーランスでお仕事をした後にWeb系起業をしようとKydolexを開業しました。<br>
                        Kydolexによるサービスの売りはお客様をより楽しませるようなサービスを提供しています。<br>
                    </div>
                </div>
                <div class="about_kydolex_kawai_body1">
                    <img class="about_kydolex_kawai_img"src="{%static 'img/kawai.jpeg'%}" alt="">
                    <div class="about_kydolex_kawai_name">川合利明(20)</div>
                    <div class="about_kydolex_kawai_name_sub">Kawai Toshiaki</div>
                </div>
            </div>

            <div id="rinen" class="about_kydolex_about">
                <div class="about_kydolex_about_body">
                    <div class="about_kydolex_about_title">理念</div>
                    <div class="about_kydolex_about_text">Kydolexは『　〜 Make your life more exciting 〜　』<br>
                        世界をより刺激的にするという理念をもとに、今ある“モノ”を更に素晴らしくしていきます<br> </div>
                </div>
            </div>


            
    </main>

    <footer class="footer_all">
        <div class="footer">
            <div class="footer_title">
                <img class="footer_img" src="{%static 'img/Kydolex.full.log.white.png'%}" alt="">
                <div class="footer_title_sub">〜 Make your life more exciting 〜</div>
            </div>
            <div class="footer_text_body">
                <div class="footer_text">
                    <a class="footer_text_text" href="{% url 'about'%}#gaiyo">企業概要</a>
                    <a class="footer_text_text" href="{% url 'about'%}#kawai">企業代表者</a>
                    <a class="footer_text_text" href="{% url 'about'%}#rinen">企業目標</a>
                    <a class="footer_text_text" href="{% url 'service'%}">事業内容</a>
                    <a class="footer_text_text" href="{% url 'blog'%}">最新情報</a>
                    <a class="footer_text_text" href="{% url 'designlist'%}">作品一覧</a>
                    <a class="footer_text_text" href="{% url 'none'%}">販売サイト</a>
                    <a class="footer_text_text" href="#et_link">SNS</a>
                    <a class="footer_text_text" href="https://www.lancers.jp/profile/kuni00">業務委託</a>
                    <a class="footer_text_text" href="{% url 'contact'%}">お問い合わせ</a>
                    <a class="footer_text_text" href="{% url 'contact'%}">作成相談</a>
                    <a class="footer_text_text" href="{% url 'contact'%}">作成依頼</a>
                </div>
            </div>
        </div>
    </footer>

    {% block extra_js %}
        <script>
        </script>
    {% endblock %}
</body>

</html>
