{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>ブログチュートリアル</title>
</head>

<body> 
    <!--ヘッダー-->
    <div class="header">
        <nav class="navbar navbar-expand-lg navbar-dark back">
            <div class="container">
                <a class="center0" href="/"><span><img class="kydolex_header_log" src="{%static 'img/kydolex_white.png'%}" alt=""></span></a>
                <a class="center" href="/">Home<br><span class="under">ホーム</span></a>
                <a class="center" href="{% url 'designlist'%}">Library<br><span class="under">作品一覧</span></a>
                <a class="center" href="{% url 'about'%}">Kydolex<br><span class="under">Kydolexについて</span></a>
                <a class="center" href="{% url 'service'%}">Service<br><span class="under">事業内容</span</a>
                <a class="center" href="{% url 'contact'%}">Contact<br><span class="under">お問い合わせ</span></a>
            </div>
        </nav>
    </div> 

    <main>
            <div class="Blog_title">
                <div class="Blog_title_body">
                    <div class="Blog_title_title">Kydolex's Blog</div>
                    <div class="Blog_title_title_sub">Kydolexの活動ブログ</div>
                    <div class="Blog_title_text">Kydolexの日々の活動を更新しています<br>
                    日頃の作成記録や作品の投稿情報を更新しています</div>
                </div>
            </div>
            
            <div class="blog_all">
                {% block Blog %}
                {% for post4 in post_data4 %} 
                <div class="blog_box" > 
                    <a class="blog_img" href="/"> 
                        {% if post4.image %}
                            <img class="blog_img_img" src="{{ post4.image.url }}" alt="">
                        {% endif %}
                    </a>
                    <div class="blog_text">
                        <div class="blog_title_text">{{ post4.title }}</div>
                        <div class="blog_titlesub"> 
                            {{ post4.created|date }}</div>                   
                    </div>
                </div>
                {% endfor %}
                {% endblock %}
            </div>
            
            

    </main>

    <footer class="footer_all">
        <div class="footer">
            <div class="footer_title">
                <img class="footer_img" src="{%static 'img/Kydolex.full.log.white.png'%}" alt="">
                <div class="footer_title_sub">〜 Make your life more exciting 〜</div>
            </div>
            <div class="footer_text_body">
                <div class="footer_text">
                    <a class="footer_text_text" href="{% url 'about'%}#gaiyo">企業概要</a>
                    <a class="footer_text_text" href="{% url 'about'%}#kawai">企業代表者</a>
                    <a class="footer_text_text" href="{% url 'about'%}#rinen">企業理念</a>
                    <a class="footer_text_text" href="{% url 'service'%}">事業内容</a>
                    <a class="footer_text_text" href="{% url 'blog'%}">最新情報</a>
                    <a class="footer_text_text" href="{% url 'designlist'%}">ギャラリー</a>
                    <a class="footer_text_text" href="{% url 'none'%}">販売サイト</a>
                    <a class="footer_text_text" href="{% url 'index'%}#et_link">宣伝媒体</a>
                    <a class="footer_text_text" href="{% url 'rate'%}">作成料金</a>
                    <a class="footer_text_text" href="{% url 'contact'%}">作成予約</a>
                    <a class="footer_text_text" href="{% url 'contact'%}">作成相談</a>
                    <a class="footer_text_text" href="{% url 'contact'%}">作成依頼</a>
                </div>
            </div>
        </div>
    </footer>

    {% block extra_js %}
        <script>
        </script>
    {% endblock %}
</body>

</html>
