{% load static %}
<!--静的-->
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Kydolex</title>
    <link rel="shortcut icon" href="{%static 'img/Kydolex.png'%}">
</head>

<body> 


    <main>
                <!--ヘッダー-->
            <div class="header">
                    <div class="header_left">
                        <a class="header_icon" href="/"><img class="kydolex_header_log" src="{%static 'img/kydolex_white.png'%}" alt=""></a>
                    </div>
                    <div class="header_right">
                        <a class="header_list" href="{% url 'contact'%}">Contact<br><span class="under">お問い合わせ</span></a>
                        <a class="header_list" href="{% url 'service'%}">Service<br><span class="under">事業内容</span</a>
                        <a class="header_list" href="{% url 'about'%}">Kydolex<br><span class="under">Kydolexについて</span></a>
                        <a class="header_list" href="{% url 'designlist'%}">Library<br><span class="under">作品一覧</span></a>
                        <a class="header_list" href="/">Home<br><span class="under">ホーム</span></a>
                    </div>
            </div> 
            
            <div id="menu">
                <div>
                    <a class="header_icon" href="/"><img class="kydolex_header_log" src="{%static 'img/kydolex_white.png'%}" alt=""></a>
                    <a href="#menu" class="menuopen"><img class="header_icon_menu" src="{%static 'img/header_line_3.png'%}" alt=""></a>
                    <a href="#close" class="menuclose"><img class="header_icon_menu" src="{%static 'img/header_chanel.png'%}" alt=""></a>
    
                    </div>
                <ul>
                    <li><a class="header_list" href="/">Home<br><span class="under">ホーム</span></a></li>
                    <li><a class="header_list" href="{% url 'designlist'%}">Library<br><span class="under">作品一覧</span></a></li>
                    <li><a class="header_list" href="{% url 'about'%}">Kydolex<br><span class="under">Kydolexについて</span></a></li>
                    <li><a class="header_list" href="{% url 'service'%}">Service<br><span class="under">事業内容</span></a></li>
                    <li><a class="header_list" href="{% url 'contact'%}">Contact<br><span class="under">お問い合わせ</span></a></li>
                </ul>
            </div>

    <main>
        <div class="sub_page_title">
            <img class="back_img" src="{%static 'img/Adobe2_low.jpeg'%}" alt="">
            <div class="title_class">
                <div class="middle_title text_white">Request Consultation for Kydolex</div>
                <div class="middle_title_sub text_white">Kydolexへの相談・お問い合わせ</div>
                <div class="middle_title_sub_nomal text_white">Kydolexにご依頼・ご相談されたい方用のフォームです<br>
                    依頼・相談でしたら遠慮なくご連絡ください</div>
            </div>
        </div>

        
        <div class="item_class">
            <a class="contact_link_form" href="mailto:kydolex&#64;gmail.com">
                <div class="site_link hover_light-blue_back">
                    <h3 class="site_link_title">Kydolex's mail address</h3>
                    <h3 class="site_link_title_sub">Kydolex メールアドレス</h3>
                    <h3 class="contact_text_basic">クリックしたらメールのお問い合わせができます。</h3>
                    <img class="site_link_img" src="{%static 'img/Adobe10.jpeg'%}" alt="">
                </div>
            </a>

        </div>

    </main>

    <footer class="footer_all">
        <div class="footer">
            <div class="footer_title">
                <img class="footer_img" src="{%static 'img/Kydolex.full.log.white.png'%}" alt="">
                <div class="footer_title_sub">〜 Make your life more exciting 〜</div>
            </div>
            <div class="footer_text_body">
                <div class="footer_text">
                    <a class="footer_text_text" href="{% url 'about'%}#gaiyo">企業概要</a>
                    <a class="footer_text_text" href="{% url 'about'%}#kawai">企業代表者</a>
                    <a class="footer_text_text" href="{% url 'about'%}#rinen">企業目標</a>
                    <a class="footer_text_text" href="{% url 'service'%}">事業内容</a>
                    <a class="footer_text_text" href="{% url 'blog'%}">最新情報</a>
                    <a class="footer_text_text" href="{% url 'designlist'%}">作品一覧</a>
                    <a class="footer_text_text" href="{% url 'none'%}">販売サイト</a>
                    <a class="footer_text_text" href="#et_link">SNS</a>
                    <a class="footer_text_text" href="https://www.lancers.jp/profile/kuni00">業務委託</a>
                    <a class="footer_text_text" href="{% url 'contact'%}">お問い合わせ</a>
                    <a class="footer_text_text" href="{% url 'contact'%}">作成相談</a>
                    <a class="footer_text_text" href="{% url 'contact'%}">作成依頼</a>
                </div>
            </div>
        </div>
    </footer>

    {% block extra_js %}
        <script>
        </script>
    {% endblock %}
</body>

</html>
