{% extends "kydolex_app/base.html" %}



{% block about %}
        {% for post2 in post_data2 %} 
        <div class="about_box"> 
            <div class="about_img">
                {% if post2.image %}
                    <img class="about_img_img" src="{{ post2.image.url }}" alt="">
                {% endif %}
            </div>
            <div class="about_text">
                <div class="about_title_text">{{ post2.title }}</div>
                <div class="about_titlesub">{{ post2.sub }}</div>
                <a class="about_Request" href="{% url 'contact'%}">Request/依頼</a>
                <a class="about_Request" href="{% url 'contact'%}">Consultation/相談</a>
                <div class="about_text_text">
                    <p class="about_text_text_in">{{ post2.content|truncatechars:150 }}</p>
                </div>                     
            </div>
        </div>
        {% endfor %}
{% endblock %}


{% block link %}
<div  id="link_id"></div>
{% endblock %}