{% load static %}
<!--静的-->
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Kydolex</title>
    <link rel="shortcut icon" href="{%static 'img/Kydolex.png'%}">
</head>

<body> 


    <main>
        <!--ヘッダー-->
        <div class="header">
            <nav class="navbar navbar-expand-lg navbar-dark back">
                <div class="container">
                    <a class="center0" href="/"><span><img class="kydolex_header_log" src="{%static 'img/kydolex_white.png'%}" alt=""></span></a>
                    <a class="center" href="/">Home<br><span class="under">ホーム</span></a>
                    <a class="center" href="{% url 'designlist'%}">Library<br><span class="under">作品一覧</span></a>
                    <a class="center" href="{% url 'about'%}">Kydolex<br><span class="under">Kydolexについて</span></a>
                    <a class="center" href="{% url 'service'%}">Service<br><span class="under">事業内容</span</a>
                    <a class="center" href="{% url 'contact'%}">Contact<br><span class="under">お問い合わせ</span></a>
                </div>
            </nav>
        </div> 

    <main>
        <div class="sub_page_title">
            <img class="back_img" src="{%static 'img/Adobe2_low.jpeg'%}" alt="">
            <div class="title_class">
                <div class="middle_title text_white">Business Content / Active</div>
                <div class="middle_title_sub text_white">Kydolexの事業内容・活動</div>
                <div class="middle_title_sub_nomal text_white">Kydolexの事業内容です<br>
                    KydolexはWeb関連の事業を行っています</div>
            </div>


            
            
            

    </main>

    <footer class="footer_all">
        <div class="footer">
            <div class="footer_title">
                <img class="footer_img" src="{%static 'img/Kydolex.full.log.white.png'%}" alt="">
                <div class="footer_title_sub">〜 Make your life more exciting 〜</div>
            </div>
            <div class="footer_text_body">
                <div class="footer_text">
                    <a class="footer_text_text" href="{% url 'about'%}#gaiyo">企業概要</a>
                    <a class="footer_text_text" href="{% url 'about'%}#kawai">企業代表者</a>
                    <a class="footer_text_text" href="{% url 'about'%}#rinen">企業目標</a>
                    <a class="footer_text_text" href="{% url 'service'%}">事業内容</a>
                    <a class="footer_text_text" href="{% url 'blog'%}">最新情報</a>
                    <a class="footer_text_text" href="{% url 'designlist'%}">作品一覧</a>
                    <a class="footer_text_text" href="{% url 'none'%}">販売サイト</a>
                    <a class="footer_text_text" href="#et_link">SNS</a>
                    <a class="footer_text_text" href="https://www.lancers.jp/profile/kuni00">業務委託</a>
                    <a class="footer_text_text" href="{% url 'contact'%}">お問い合わせ</a>
                    <a class="footer_text_text" href="{% url 'contact'%}">作成相談</a>
                    <a class="footer_text_text" href="{% url 'contact'%}">作成依頼</a>
                </div>
            </div>
        </div>
    </footer>

    {% block extra_js %}
        <script>
        </script>
    {% endblock %}
</body>

</html>
